/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid steelblue;
  color: steelblue;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
} */

/* div {
  width: 400px;
  height: 50px;
}

#video {
  height: 300px;
  margin-bottom: 50px;
}

#comments {
  height: 150px;
}

.blue {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green {
  display: flex;
  height: 500px;
}

body {
  display: flex;
  justify-content: center;
}

#left {
  margin: 5px;
  height: 100%;
}

#right {
  margin: 5px;
  height: 100%;
}

.thumb {
  width: 150px;
  height: 100px;
  background-color: purple;
  margin: 5px;
}

#related-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100%;
}

#related-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 100%;
} */

.dc__flex--container{
  display: flex;
}



.dc__left{
  margin: 1rem;
  height: 80vh;
  width:70vw;
}
.dc__right{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Osygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 600px;
  padding: 1rem;
  display: grid;
  place-content: center;
  flex-wrap: wrap;
  }


.dc__left--video-container{
  background-color: white;
  height: 75%;
  width: 100%;
  place-content: center;
}
.dc__left--comment-container{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Osygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 80%;
  height: 65%;
  padding: 1rem;
  place-content: left;
  background-color:  rgba(0, 0, 0, 0.253);
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
}